@import "tailwindcss";

* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

/* Custom Scrollbar Styles */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar-thumb-blue-300::-webkit-scrollbar-thumb {
  background-color: rgb(147 197 253);
  border-radius: 3px;
  border: none;
}

.scrollbar-thumb-blue-300::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96 165 250);
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: rgb(243 244 246);
  border-radius: 3px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgb(96 165 250);
}